PATH_add .direnv/bin
export RUSTFLAGS='--cfg reqwest_unstable'
export RUST_LOG=debug,supervisor=warn,hyper=warn,rustls=warn,quinn_udp=warn,h2=warn

DIR=`pwd`
env_sh() {
  cd $DIR/../conf/conn
  local i
  for i in $@; do
    if [ -f "$i" ]; then
    set -o allexport
    source "$i".sh
    set +o allexport
    fi
  done

  cd $DIR
  unset -f env_sh
}

env_sh rust-img
